* {
	text-align: center;
	background-color: black;
}

.clock {
	font-family: 'Merriweather', serif;
	font-size: 6em;
    margin: 350px auto;
    width: 50%;
    text-align: center;
    background-color: #160505;
    color: white;
    padding: 30px;
    padding-bottom: 13px;
    border-radius: 30px;
    border: 3px solid white;
    box-shadow: 3px 3px 27px #ac9e9e;
}
.hours, .minutes, .seconds {
	border: 3px solid red;
	border-radius: 10px;
	padding: 15px;
}
.hours {
	
}
.minutes {

}
.seconds {

}
.date {
	font-family: 'Lobster', cursive;
	font-size: 0.2em;
	display: block;
	margin-top: 20px;
	color: #a7a7a7;
	background-color: #160505;

}
footer {

}
footer p {
	color: #a7a7a7;
}

@media (max-width: 1140px) {
	.clock {
		font-size: 4em;
	}
}
@media (max-width: 810px) {
	.clock {
		font-size: 3em;
		width: 60%;
	}
}
@media (max-width: 600px) {
	.clock {
		font-size: 2em;
		width: 90%;
	}
}
@media (max-width: 340px) {
	.clock {
		font-size: 1em;
		width: 95%;
	}
}